/*body {
padding-top: 60px;
padding-bottom: 40px;
background-color: #f5f5f5;
}*/
html,body {height: 100%;background-color: #f5f5f5;}
/* Wrapper for page content to push down footer */
#wrap {min-height: 100%;height: auto !important;height: 100%;/* Negative indent footer by it's height */margin: 0 auto -60px;}
/* Set the fixed height of the footer here */
#push,#footer {height: 60px;}
#footer {background-color: #f5f5f5;}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {#footer {  margin-left: -20px;  margin-right: -20px;  padding-left: 20px;  padding-right: 20px;}}

.form-signin {
max-width: 300px;
padding: 19px 29px 29px;
margin: 0 auto 20px;
background-color: #fff;
border: 1px solid #e5e5e5;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
font-size: 16px;
height: auto;
margin-bottom: 15px;
padding: 7px 9px;
}
.h375{height:375px;}
.h240{height: 240px;}
.socialNetworkName{}
.mw400{max-width:400px;}
.successMessage{margin: 0 auto;padding: 10px 0; border: 1px solid #eeeeee}
.mt20{margin-top: 20px;}
.clear{clear: both;display: block;}
.mb10{margin-bottom: 10px;}
#OpenLinks .cell { /*border-left: 2px solid #E1DFDF; color: #524D4D;*/ float: left; font-size: 18px; height: 160px; /*padding: 20px;*/ text-align: center; width: 100%; }
#OpenLinks .cell .icon { background: url("../img/addicons.png") repeat scroll 0 0 transparent; height: 81px; margin: 15px auto 30px; width: 66px; }
#OpenLinks .cell #upload { background-position: -66px 0; }
ul.inline li{float: left;display: inline;padding: 0;width: 50%;text-align: center;}
ul.inline{width: 100%; margin: 0;}
#cpModal li{list-style: none;}
.displaynone{display: none;}
ul#imagePicker{border:1px solid #DDDDDD;height:115px;}
.copublisheractions{line-height: 0;display: none;}
.copublisher .copublisheractions a{text-align: center;width: 50%;display: inline-block;}
.copublishers p{margin: 0}
.socialicon{background:url("../img/social-icons.png")}
.icon_pinterest{width:14px;height:14px;background-position: 0px -24px;!important;}
.icon_facebook{background-position: 0px 0px;}
.icon_twitter{background-position: 0px -48px;}
.navbar .nav > li >a.btn-mini{padding: 0 6px;}
.navbar .nav > li >a.btn-primary{margin-left:5px;color:#fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
.navbar .nav > li >a.btn.focus{background-color: #E6E6E6;}
.navbar .nav > li >a.btn:hover{background-color: #E6E6E6;}
.navbar .nav > li >a.btn-primary.focus{background-color: #006DCC;}
.navbar .nav > li >a.btn-primary:hover{background-color: #006DCC;}    
.featureset{color: #FFF;left: 50px;position: absolute;top: 260px;width: 600px;text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);background-color: rgba(0, 0, 0, 0.5)}
p.dark{ color: gold; }
#registration{margin-top: 100px;padding: 10px;}
#registration label{text-shadow: 0 1px 1px rgba(256, 256, 256, 0.6);}
ul#social-networking{ margin:0px 0 0 0; text-align:center; display:block; float:left; padding:0px 0px 0px 0px; font-size:12px;    }
#social-networking li { margin: 0 5px 0 0; padding: 0; list-style: none; background: url("../img/clean-social-icons.jpg") no-repeat; }
#social-networking li, #social-networking a { width: 54px; height: 54px; display: block; float: left;    }
ul#social-networking li.twitter {background-position: -134px -74px;}
ul#social-networking li.facebook {background-position: -3px -10px;}
ul#social-networking li.linkedin {background-position: -385px -12px;}
ul#social-networking li.picasa {background-position: -258px -137px;}
ul#social-networking li.love {background-position: -454px -75px;}
ul#social-networking li.pinterest {background-position: -454px -10px;}
ul#social-networking li.googleplus {background-position: -195px -10px;}

a.twitterbutton { background-image: url("http://www.viraliti.com/images/btn-social.png"); background-position: 0 -41px; display: block; height: 30px; margin: 0 auto; width: 169px; }
a.fb { background-image: url("http://www.viraliti.com/images/btn-social.png"); background-position: 0 0; display: block; height: 30px; margin: 0 auto; width: 169px; }
#lh24{line-height: 24px;font-weight: bold;}
.br1{"border:1px solid;"}
.or-separator{text-align:center;}
.mt50{margin-top: 50px;}
.mt5{margin-top: 5px;}
.mr5{margin-right: 5px;}
ol.bookmarklet{margin: 10px 0 0 40px;}
.hero-inner{padding: 40px;background-color: purple;width:70%;opacity: .8;position: absolute;top:100px;}
label.error{color: red;float: left;margin-left: 20px;}
.copycode{height:65px;width:640px;margin:10px}
.widgets{margin:40px 0;}
.wrapper{height:440px;}
.fb {background: url("/img/fshare.png");width:12px;}
.notifier{top:85px;}
.asktoshare{text-align: justify;line-height: 22px;padding: 10px;font-size: 20px;font-weight: 300;}
.marketing .row .span4 p{font-family: 'Roboto Slab', serif;font-weight: 400; }
.hidden{display: none;}
.h40{height:40px !important;padding : 0 !important;}
.darkpurple{background-color: #000F28;padding: 10px;}